*/*/v.*
*/*/D/*
!*/*/D/.gittouch
*/*/*/*.log
examples/case/*.sh
*.o
*.mod
.depend
initcond
initcond_random
tube
libcommon.a
.vscode
field
packages
traction
test
tes17
pinv
qf1d
packages*
testcases
mycases
sample_files/sample_walls/my_meshes
build