*/*/run_logs
*/*/*.py
*/*/v.*
*/*/*.sh
*/*/D/*
!*/*/D/.gittouch
*.o
*.mod
.depend
initcond
tube
libcommon.a
.vscode
field
mypackages
examples/case1wbc/
examples/case_exleukocytes/
examples/case_rwbcs/
examples/case_wbcs/
examples/case_wbcs2/
examples/case_wbcs3/
examples/case_wbcs4/
examples/case_wbcsog/
examples/random_case_rbc/
examples/random_case_wbc/
examples/randomized_case/initcond_random
examples/randomized_case2/
sample_files/sample_walls/wall_meshes/cylwithslit.e
sample_files/sample_walls/wall_meshes/cylwithslit2.e