*/run_logs
*/*.py
*/v.*
*/*.sh
*/D/*
!*/D/.gittouch
*.o
*.mod
.depend
initcond
tube
libcommon.a
.vscode
field
mypackages
examples/case_wbcs
examples/case1wbc
examples/case_exleukocytes
sample_files/sample_walls/wall_meshes/cylwithhole.e
*/*/run.sh