name: 'Test on ICE'

on:
    pull_request:
    workflow_dispatch:

jobs:
  self:
    name: ICE Runner
    runs-on:
        labels: ice
    if: github.repository == 'Comp-Physics/RBC3D'
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      # use mkl option
      - name: Build Packages
        run: |
            ml gcc/12.3.0 mvapich2/2.3.7-1 intel-oneapi-mkl/2023.1.0 python/3.10.10 netcdf-fortran/4.6.0-mva2-hdf5-1.14 fftw/3.3.10-mva cmake
            ./rbc.sh install

      # will stop on any errors
      - name: Compile Cases
        run: |
            ml gcc/12.3.0 mvapich2/2.3.7-1 intel-oneapi-mkl/2023.1.0 python/3.10.10 netcdf-fortran/4.6.0-mva2-hdf5-1.14 fftw/3.3.10-mva cmake
            set -e -x
            export PETSC_DIR=`pwd`/packages/petsc-3.19.6
            export PETSC_ARCH=arch-linux-c-opt
            mkdir build
            cd build
            cmake ..
            make
            echo "/common and all cases in /examples compiled successfully!"

